<!DOCTYPE html>
<html>
    <head>
        <title>QR Code Generator</title>
        <style>
            body {
                background-color: #D269IE; /* Autumn color */
            }
        </style>
    </head>
    <body>
        <h1>QR Code Generator</h1>
        <form action="{{ url_for('generate') }}" method="POST">
            {{ form.csrf_token }}
            {{ form.link_name.label }} {{ form.link_name() }}<br><br>
            {{ form.link.label }} {{ form.link() }}<br><br>
            {{ form.submit() }}
        </form>
    </body>
</html>