<!DOCTYPE html>
<html>
    <head>
        <title>QR Code Generator</title>
        <style>
            body {
                background-color: #D2691E; /* Autumn color */
                font-family: Arial, Helvetica, sans-serif;
            }
            h1 {
                font-family: "Arial", sans-serif;
            }

            label, input[type="text"], input[type="submit"] {
                font-family: "Arial", sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>QR Code Generator</h1>
        <form action="{{ url_for('generate') }}" method="POST">
            <label for="link_name">Link Name</label>
            <input type="text" id="link_name" name="link_name" required><br><br>
            
            <label for="link">Link URL</label>
            <input type="text" id="link" name="link" required><br><br>

            <input type="submit" value="Generate QR Code">
        </form>
    </body>
</html>